@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body { 
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

.img-flex {
	width: 100%;
	margin: 0 auto; 
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.skip-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: white; 
}

.skip-links a {
	padding: 0.5em 0.75em;
	position: absolute;
	top: -3em;
	background-color: #000;
	color: #fff;
	font-size: 1.125em;
	font-weight: bold;
	text-decoration: none;
}

.skip-links a:focus {
  	top: 0;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}


.panel {
    max-height: 0em;
    overflow: hidden;
    transition: all 250ms ease-out;
}

.js-panel-open {
    display: block;
    max-height: 20em;
}

.ham-btn {
    height: 1.5rem;
    width: 2.5rem;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    top: 1rem;
    left: 5%;
    background: transparent url("../images/hamburger.svg") no-repeat center center;
    z-index: 100;
    padding: 0;
    margin: 20px;
    border: 0;
    outline-color: white;
}

.ham-btn {
}

nav {
 padding: 0;
}

nav ul {
    padding: 0;
    margin: 0;
    border-top: 1px solid #E9E3C4;
}

nav li {
    background-color: #6BA2A7;
    border-bottom: 1px solid  #E9E3C4;
    text-decoration: none;
    list-style: none;
}

nav a {
    display: block;
    text-decoration: none;
    color: #E9E3C4;
    width: 100%;
    padding: 25px;
}

nav a:hover {
    background-color: #A6DCE8;
}

.button-top {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid #fff;
    border-radius: 100px;
    height: 120px;
    font-size: 1.25rem;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 1.5rem;
    color: #fff;
    background-color: #6BA2A7;
    margin: 0;
    transition: all 250ms linear;
}

.button-top:hover {
    cursor: pointer;
    border: 10px solid #fff;
    background-color: #A6DCE8;
}

.tab-img {
    width: 140px;
    height: 140px;
    border: 3px solid #484949;
}

.js-current .tab-img {
    border-color: #484949;
}

.window-txt {
    width: 100%;
    height: 417px;
    text-align: center;
    border: 3px solid #484949;
    padding-top: 100px;
    padding-left: 2em;
    padding-right: 2em;
	margin-left: 2em;
	color: #484949;
}

.tab {
    list-style: none;
    padding: 0;
}

.pad-0 {
    padding: 0;
}

.pad-txt {
    padding-top: 150px;
    margin-bottom: 1em;
    text-align: center;
}

.pad-txt-2 {
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 0;
    text-align: center;
}

.push-r {
  margin-left: 5rem;
}

.img-border {
    border: 3px solid #484949;
    text-align: center;
}

.center{
    text-align: center;
}

.tab-panel h4,
.tab-panel p,
.tab-panel img {
    opacity: 0;
    transition: all 200ms linear;
}

.js-appear h4,
.js-appear p,
.js-appear img {
    opacity: 1;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
	margin-top: 1.1em;
}

.intro { 
	font-size: 12pt;
	font-weight: 200; 
	padding-right: 3em;
	padding-left: 3em;
	padding-top: 1em;
	padding-bottom: 2em;
}

.css-intro { 
	font-size: 12pt;
	font-weight: 200; 
	padding-right: 3em;
	padding-left: 3em;
	padding-top: 1em;
	padding-bottom: 2em;
	margin: 0;
}

.about-items { 
	font-size: 12pt;
	font-weight: 200; 
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: 2em;
	color: #484949;
}

@media only screen and (min-width: 30em) { 
	.about-items { 
		padding-right: 7em;
		padding-left: 7em;
	}
}

.heading { 
	text-align: center;
	padding-top: 1em;
	color: #484949;
}

.heading-intro { 
	text-align: center;
	font-size: 14pt;
	padding-bottom: 5em;
	color: #6BA2A7;
}

.banner { 
	background-color: #E9E3C4;
	padding-top: .5em;
	padding-bottom: 3em;
}

.topbar { 
	background-color: #E9E3C4;
}

.subheadings { 
	text-align: center;
	font-size: 14pt;
	color:#6BA2A7;
}

.subheading-css { 
	text-align: center;
	font-size: 14pt;
	color: #E9E3C4;
}

.subheadings-html { 
	text-align: center;
	font-size: 14pt;
	color:  #E9E3C4;
}

.adding-top { 
	padding-top: 6em;
}

.bunny { 
	height: auto;
	width: 12em;
	margin: 0 0 2em 3em;
	float: left; 
}

.tab-bg {
	background-color: #E9E3C4;	
	padding-top: 1em;
}

.footers { 
	background-color: #E9E3C4;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.copyright { 
	margin-left: 3em;
	font-size: 9pt;
	color: #6BA2A7;
}

.topbutton { 
	margin-left: 50%;
	font-size: 12pt;
	color: #6BA2A7;
}

.banner-css { 
	background-color: #6BA2A7; 
	color: white; 
	padding-top: 4em;
	margin-top: 2em;
}

.banner-html { 
	background-color: #6BA2A7;
	color: white; 
}

.cons-bunny { 
	width: 100%; 
	height: auto;
}

.bunny-banner { 
	background-color:  #E9E3C4;
	padding-top: 1em;
}

.code { 
	margin-left: 2em;
	margin-right: 1em;
	width: 80%;
}

.code2 { 
	margin-left: 3em;
	margin-right: 2em;
	width: 55%;
}

.code-example { 
	width: 100%; 
	height: auto;
	padding-bottom: 3em;
}

.bottom-banner { 
	background-color: #6BA2A7; 
	padding: 2em;
	color:  #E9E3C4;
	font-size: 16pt;
	text-align: center;
}

@media only screen and (min-width: 40em) { 
.cons-bunny { 
	width: 60%; 
	height: auto;
	}
	
.code-example { 
	width: 80%; 
	height: auto;
	padding-bottom: 3em;
	}
	
.bunny { 
	margin: 0 0 2em 5em;
}	
.code { 
	width: 100%;
}
}
